body {
    background: white;
    font-family: Helvetica;
    
}
.header {
    text-align: center ;
}
.header{
    background-color:lightgray;
}
h1{
    margin-top: 0px;
}
.container{
    margin-left: 10%;
    margin-right: 10% ;
}